<h1> Welcome to User Maps, where User Make Maps and Maps Have Routes and So On</h1>

<p>Signed in as <%=@user.email %> </p>

<% #binding.pry %>
<h2>Pick a map of a city to edit:</h2>

 <%= form_tag maps_path do %>
    <%=collection_select :map, :id, Map.all, :id, :name %>
    <button type="submit" class="btn">Select Map</button>
 <% end %>
 
 
 <br><br><br>