<h3><%=@route.name %></h3>
<% #binding.pry%>
<ul>
    <%= @route.landmarks.each do |landmark| %>
        <li><%= link_to landmark.name, landmark_path(landmark) %></li>
    <% end %>
</ul>

<% #binding.pry %>